body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------HEADER------------- */

.menu-open-btn {
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
}

.menu-open-icon {
  fill: #2f2f37;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.container-nav-address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-logo-color {
  color: #4d5ae5;
}

.header-menu-list {
  display: none;
}

.header-address-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .menu-open-btn {
    display: none;
  }

  .container-nav-address {
    display: flex;
    align-items: center;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
  }

  .header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 120px;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
  }
  .header-menu-item {
    gap: 40px;
  }
  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link.current {
    position: relative;
    color: #404bbf;
  }

  .header-menu-link.current::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }

  .header-menu-link:active {
    color: #404bbf;
    text-decoration: underline;
  }

  .header-address {
    margin-left: auto;
  }
  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-item {
  }
  .header-address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }

  .header-menu-list a {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .header-address-item {
  }
  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* ---------------HEADER END------------- */

/* -------------mobile-menu----------- */

.mobile-menu {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  padding-top: 72px;
  padding-bottom: 40px;
  flex-direction: column;
  height: 100%;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mob-menu-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover .mob-menu-icon,
.menu-close-btn:focus .mob-menu-icon {
  fill: #ffffff;
}

.navigation-mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation-mobile-link:hover,
.navigation-mobile-link:focus {
  color: #404bbf;
}

.navigation-mobile-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-address-link:hover,
.mobile-address-link:focus {
  color: #404bbf;
}
.navigation-mobile-menu {
  margin-bottom: auto;
}

.mobile-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.accent {
  color: #404bbf;
}

.accent-adress {
  color: #4d5ae5;
}

.mobile-address-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-adress {
  margin-bottom: 48px;
}

.list-mobile-social {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.link-mobile-social {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-team-social:hover,
.link-team-social:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* ---------------HERO------------- */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_mob1x.jpg);
  padding: 72px 0;
  /* max-width: 1440px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 320px;
}

@media screen and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_mob2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_tab1x.jpg);
    padding: 112px 0;
    /* max-width: 1440px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 768px;
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero_tab2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
    padding: 188px 0;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
}
/* ---------------HERO------------- */

/* ---------------BENEFITS------------- */
.section {
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.benefits-item-icon {
  display: none;
}

.benefits-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
  }

  .benefits-list {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
  }

  .benefits-item {
    width: calc((100% - 24px) / 2);
  }

  .benefits-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
  }
  .benefits {
  }
  .benefits-title {
  }

  .benefits-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-item-icon {
    display: flex;
  }

  .benefits-item-icon {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-text {
    font-weight: 400;
  }
}
/* ---------------BENEFITS------------- */

/* ---------------Our Team------------- */
.team {
  background-color: #f4f4fd;
}

.team-container {
  max-width: 320px;
  padding: 0 28px;
  margin: 0 auto;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.list-team-social {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.link-team-social {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-team-social:hover,
.link-team-social:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

.team-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-images {
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-subtitle-text {
  padding: 32px 0px;
}
@media screen and (min-width: 768px) {
  .team-container {
    max-width: 768px;
    padding: 0 108px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-container {
    max-width: 1158px;
    padding: 0 28px;
  }
  .team-list {
    display: flex;
    gap: 24px;
  }

  .team-item {
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* ---------------Our Team------------- */

/* ---------------Our Portfolio------------- */

.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.portfolio-images {
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.wrapper-subtitle-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.box-overlay {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
  }
  .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-images {
  }
  .portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .wrapper-subtitle-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .box-overlay {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .overlay {
    transform: translateY(0%);
  }

  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/* ---------------Our Portfolio------------- */

/* ---------------FOOTER------------- */
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.container.wrapper-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}

.footer-logo-color {
  color: #4d5ae5;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  text-align: left;
}

.wrapper-footer-logo {
  text-align: center;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.list-footer-social {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.link-footer-social {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-social:hover,
.link-footer-social:focus {
  background-color: #31d0aa;
}

.subscribe {
}

.form-subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 16px;
}

/* .wrapper-subscribe {
  display: flex;
  gap: 24px;
  justify-content: space-between;
} */

.text-subscribe {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.input-subscribe::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  line-height: 200%;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
}

.btn-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
}

.input-subscribe {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px 8px 16px;
}

.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer {
  }

  .container.wrapper-footer {
    max-width: 768px;
    padding-left: 108px;
    padding-right: 108px;
    justify-content: flex-start;
    align-items: baseline;
    gap: 72px 24px;
  }

  .subscribe {
  }

  .wrapper-footer-logo {
    text-align: left;
  }

  .footer-logo {
  }

  .footer-logo-color {
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-social-text {
    text-align: left;
  }

  .list-footer-social {
  }

  .footer-social-icon {
  }

  .link-footer-social {
  }

  .form-subscribe {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
  }

  /* .wrapper-subscribe {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  } */

  .text-subscribe {
    text-align: left;
  }

  .btn-subscribe {
  }

  .input-subscribe {
    width: 264px;
  }

  .subscribe-icon {
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-logo {
  }

  .footer-logo-color {
  }

  .footer-text {
  }

  .footer-social-text {
  }

  .wrapper-footer-logo {
    text-align: left;
    margin-right: 120px;
  }

  .container.wrapper-footer {
    max-width: 1158px;
    padding: 0 15px;
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
  }

  .list-footer-social {
  }

  .footer-social-icon {
  }

  .link-footer-social {
  }

  .subscribe {
    margin-left: auto;
  }

  .form-subscribe {
  }

  /* .wrapper-subscribe {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  } */

  .text-subscribe {
  }

  .input-subscribe::placeholder {
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    line-height: 200%;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffffff;
  }

  .btn-subscribe {
  }

  .input-subscribe {
  }

  .subscribe-icon {
  }
}

/* ---------------FOOTER------------- */

/* ---------------MODAL------------- */

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-cross-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-cross-icon,
.modal-btn:focus .modal-cross-icon {
  fill: #ffffff;
}

.modal-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  max-width: 256px;
  margin-bottom: 16px;
}

.modal-text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-field {
  margin-bottom: 8px;
  max-width: 256px;
}

.modal-field.textarea {
  margin-bottom: 16px;
}

.modal-item {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  height: 40px;
  padding-left: 34px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cover {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-item:focus {
  border: 1px solid #4d5ae5;
}

.modal-item:focus + .modal-icon,
.modal-item:hover + .modal-icon {
  fill: #4d5ae5;
}

.modal-textarea:focus {
  border: 1px solid #4d5ae5;
}

.checkbox-cover {
  margin-bottom: 24px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-text-ankor {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.checkbox-element {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 10px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  fill: transparent;
  flex-shrink: 0;
}

.checkbox-icon {
  width: 10px;
  height: 8px;
  fill: transparent;
  display: inline-block;
  vertical-align: middle;
}

.checkbox:checked + .checkbox-label .checkbox-icon {
  fill: #f4f4fd;
}

.checkbox:checked + .checkbox-label .checkbox-element {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .backdrop {
  }

  .backdrop.is-open {
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-btn {
  }

  .modal-cross-icon {
  }

  .modal-title {
    max-width: 360px;
  }

  .modal-text {
  }

  .modal-field {
    max-width: 360px;
  }

  .modal-field.textarea {
  }

  .modal-item {
  }

  .modal-cover {
  }

  .modal-icon {
  }

  .modal-textarea {
  }

  .checkbox-cover {
  }

  .checkbox-label {
  }

  .checkbox-text-ankor {
  }

  .checkbox-element {
  }

  .checkbox-icon {
  }
}

@media screen and (min-width: 1158px) {
  .backdrop {
  }

  .backdrop.is-open {
  }

  .modal {
  }

  .modal-btn {
  }

  .modal-cross-icon {
  }

  .modal-title {
  }

  .modal-text {
  }

  .modal-field {
  }

  .modal-field.textarea {
  }

  .modal-item {
  }

  .modal-cover {
  }

  .modal-icon {
  }

  .modal-textarea {
  }

  .checkbox-cover {
  }

  .checkbox-label {
  }

  .checkbox-text-ankor {
  }

  .checkbox-element {
  }

  .checkbox-icon {
  }
}
